.aboutme {
  padding-inline: 5vw;
  padding-bottom: 30px;
  @include top-bottom;
  display: flex;
  flex-wrap: wrap;

  .aboutme-content {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 15px;
    margin-top: 15px;

    .mobile-box {
      display: flex;
      flex-wrap: wrap;
      place-content: center;

      .commission-button {
        display: flex;
        background-color: $danger-card;
        width: 250px;
        height: 50px;
        border-radius: 12px;
        padding: 10px;
        font-size: 2.3rem;
        font-weight: 700;
        place-content: center;
        margin-top: 80px;

        a {
          color: $secondary;
          transition: color 300ms ease-in;
        }
        &:hover a {
          color: $primary;
        }
      }

      #about-me {
        width: 250px;
        margin: 30px;
      }
    }

    p {
      span {
        color: $danger-card;
      }
    }
  }
}
