.aboutme {
  padding-top: 50px;
  padding-inline: 5vw;
  padding-bottom: 30px;
  @include top-bottom;

  .aboutme_text {
    display: flex;
    flex-wrap: wrap;
    place-content: center;

    p {
      margin-top: 30px;
      span {
        color: $danger-card;
      }
    }
  }

  #about-me {
    margin-bottom: 10px;
  }
}
