#fanartcontainer {
  background-color: $primary;
  padding-inline: 5vw;
  padding-block: 30px;
}

.cardcontainer {
  display: block;
  margin-right: 10px;
  padding-top: 20px;

  .card {
    background-color: $secondary;
    color: $primary;
    margin-bottom: 30px;
    margin-right: 10px;
    text-align: center;
    width: 335px;
    overflow: hidden;
    transition: transform 300ms ease-in;
    img {
      width: 335px;
      &:hover {
        transform: scale(1.2);
        
      }
    }
    p {
      padding-bottom: 15px;
      padding-top: 5px;
    }
  }


}

.fanartbutton {
  all: unset;
  background-color: $danger-card;
  width: 150px;
  color: $secondary;
  padding: 15px;
  border-radius: 12px;
  font-size: 2.3rem;
  font-weight: 700;
  color: $secondary;
  text-align: center;
  a{
    color: $secondary;
  }
  &:hover {
    color: $primary;
  }
}
