header {
  width: 100vw;
  height: 410px;
  background-color: $secondary;

  .headercontent {
    position: relative;
  }

  #headerbox {
    @include top-bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 1;

    h1 {
      font-family: "Caveat", cursive;
      font-size: 3.5rem;
      padding-inline: 1rem;
    }

  }

  #menu_button {
    display: none;
  }

  nav {
    ul li {
      background-color: $secondary;
      padding: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bolder;
      width: 100vw;
      position: relative;
      list-style-type: none;
      text-align: center;
      padding-bottom: 20px;

      &:hover a {
        color: $danger-card;
      }
    }
  }



  #headerimagebox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(./images/headerpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    position: relative;
    top: 10vh;

    .itembox {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: -10px;
      button {
        all: unset;
        position: absolute;
        display: flex;
        background-color: $danger-card;
        width: 50vw;
        height: auto;
        border-radius: 12px;
        padding: 15px;
        margin-bottom: 10px;
        font-size: 2.3rem;
        font-weight: 700;
        place-content: center;
        transition: color 300ms ease-in;

        &:hover a {
          color: $primary;
        }
        a {
          color: $secondary;
        }
      }
    }
  }
}



// Navigation

// Burgermenu

#menu_button:checked + label .fa-bars {
  display: none;
}
#menu_button:checked + label .fa-xmark {
  display: inline;
}

#menu_button + label .fa-bars {
  display: inline;
  margin-right: 15px;
}
#menu_button + label .fa-xmark {
  display: none;
  margin-right: 20px;
}

#menu_button ~ ul {
  display: none;
}
#menu_button:checked ~ ul {
  display: block;
  position: absolute;
  top: 60px;
  right: 0px;
  transition: all 300ms;
}

a {
  color: $primary;
  text-decoration: none;
}
