header {
  width: 100vw;
  height: auto;
  background-color: $secondary;

  .header-content {
    position: relative;
  }

  #header-box {
    @include top-bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 1;

    h1 {
      font-family: "Caveat", cursive;
      font-size: 3.5rem;
      padding-left: 15px;
    }
  }

  #menu-button {
    display: none;
  }

  // Navigation  // Burgermenu //

  #menu-button:checked + label .fa-bars {
    display: none;
  }

  #menu-button:hover + label .fa-bars {
    cursor: pointer;
    color: $danger-card;
  }

  #menu-button:checked + label .fa-xmark {
    display: inline;
  }

  #menu-button:hover + label .fa-xmark {
    cursor: pointer;
    color: $danger-card;
  }

  #menu-button + label .fa-bars {
    display: inline;
    margin-right: 19px;
    transition: color 300ms ease-in;
  }
  #menu-button + label .fa-xmark {
    display: none;
    margin-right: 23px;
    transition: color 300ms ease-in;
  }

  #menu-button ~ ul {
    display: none;
  }
  #menu-button:checked ~ ul {
    display: block;
    position: absolute;
    top: 60px;
    right: 0px;
    transition: all 300ms;
  }

  nav {
    ul {
      background-color: $secondary;
      margin-bottom: 10px;

      li {
        background-color: $secondary;
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        width: 100vw;
        position: relative;
        list-style-type: none;
        text-align: center;
        padding-bottom: 20px;

        a {
          transition: color 300ms;
        }
        &:hover a {
          color: $danger-card;
        }
      }
    }
  }

  #header-image-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../images/headerpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    position: relative;
    top: 10vh;
  }
}

a {
  color: $primary;
  text-decoration: none;
}
