// ================= Mobile - Tablet ==================== //

@media screen and (min-width: 623px) {
    body {
        font-size: 2rem;
    }

    .aboutme {
        padding-top: 100px;
        flex-direction: column;
        .aboutme-content {
            .mobile-box {
                .arttrade-button {
                    height: 5rem;
                }
            }
        }
    }
}
// ================= Tablet ==================== //

@media screen and (min-width: 768px) {
    body {
        font-size: 2rem;
    }

    // Header
    header {
        h1 {
            font-size: 3rem;
            margin-left: 15px;
        }

        #menu-button + label .fa-bars {
            margin-right: 30px;
        }
        #menu-button + label .fa-xmark {
            margin-right: 35px;
        }

        nav ul {
            margin-top: 15px;
            li {
                a {
                    font-size: 2.5rem;
                }
            }
        }

        #header-image-box {
            height: 400px;
        }
    }

    // About Me

    .mobile-box {
        align-items: center;
        gap: 60px;
    }

    .aboutme {
        padding-top: 100px;
        flex-direction: column;
        .aboutme-content {
            .mobile-box {
                .arttrade-button {
                    margin-top: 0px;
                }
            }
        }
    }

    // Fanarts

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .card {
            width: 330px;
            height: auto;
        }
    }

    // Contact

    #contact-container {
        //   form {

        //     margin: 0 auto;
        //     border: 2px solid red;
        // }
        form {
            width: 670px;
            fieldset {
                input[type="text"],
                input[type="email"],
                textarea {
                    width: 670px;
                }
            }
        }
    }
}

// ================= Tablet Kindle ==================== //

@media screen and (min-width: 800px) {
    body {
        font-size: 2rem;
    }

    header {
        #header-box {
            #menu-button:checked ~ ul {
                top: 100px;
            }
        }
    }
}
// ================= Desktop ==================== //

@media screen and (min-width: 1024px) {
    // Header
    header {
        width: 100%;

        .header-content {
            width: 100%;
        }
        #header-image-box {
            padding-bottom: 500px;
            width: 99.2vw;  
        }

        h1 {
            margin-left: 25px;
        }

        #header-box {
            width: 100%;
            
            nav {
                position: relative;

                label,
                input {
                    display: none;
                }

                ul {
                    display: inline;
                    position: relative;
                    margin-right: 35px;

                    li {
                        display: inline;
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
    // About Me

    .aboutme {
        padding-top: 215px;
        padding-bottom: 60px;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;

        gap: 20px;

        .aboutme-content {
            align-items: center;
            p {
                width: 300px;
            }
        }
    }

    // Fanarts

    .card {
        width: 30%;
        height: auto;
    }

    // Contact

    #contact-container {
        form {
            width: 900px;
            fieldset {
                width: 800px;
                margin: 0 auto;
                input[type="text"],
                input[type="email"],
                textarea {
                    width: 800px;
                }
            }
        }
    }

    // Footer 

    footer {
        width: 100%;
    }
}
