@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  color: #25251f;
}

header {
  width: 100vw;
  height: auto;
  background-color: #25251f;
}
header .header-content {
  position: relative;
}
header #header-box {
  background-color: #25251f;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 1;
}
header #header-box h1 {
  font-family: "Caveat", cursive;
  font-size: 3.5rem;
  padding-left: 15px;
}
header #menu-button {
  display: none;
}
header #menu-button:checked + label .fa-bars {
  display: none;
}
header #menu-button:hover + label .fa-bars {
  cursor: pointer;
  color: #6befaf;
}
header #menu-button:checked + label .fa-xmark {
  display: inline;
}
header #menu-button:hover + label .fa-xmark {
  cursor: pointer;
  color: #6befaf;
}
header #menu-button + label .fa-bars {
  display: inline;
  margin-right: 19px;
  transition: color 300ms ease-in;
}
header #menu-button + label .fa-xmark {
  display: none;
  margin-right: 23px;
  transition: color 300ms ease-in;
}
header #menu-button ~ ul {
  display: none;
}
header #menu-button:checked ~ ul {
  display: block;
  position: absolute;
  top: 60px;
  right: 0px;
  transition: all 300ms;
}
header nav ul {
  background-color: #25251f;
  margin-bottom: 10px;
}
header nav ul li {
  background-color: #25251f;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  width: 100vw;
  position: relative;
  list-style-type: none;
  text-align: center;
  padding-bottom: 20px;
}
header nav ul li a {
  transition: color 300ms;
}
header nav ul li:hover a {
  color: #6befaf;
}
header #header-image-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(../images/headerpic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  position: relative;
  top: 10vh;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.aboutme {
  padding-inline: 5vw;
  padding-bottom: 30px;
  background-color: #25251f;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
.aboutme .aboutme-content {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 15px;
  margin-top: 15px;
}
.aboutme .aboutme-content .mobile-box {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}
.aboutme .aboutme-content .mobile-box .commission-button {
  display: flex;
  background-color: #6befaf;
  width: 250px;
  height: auto;
  border-radius: 12px;
  padding: 10px;
  font-size: 2.3rem;
  font-weight: 700;
  place-content: center;
  margin-top: 80px;
}
.aboutme .aboutme-content .mobile-box .commission-button a {
  color: #25251f;
  transition: color 300ms ease-in;
}
.aboutme .aboutme-content .mobile-box .commission-button:hover a {
  color: #ffffff;
}
.aboutme .aboutme-content .mobile-box #about-me {
  width: 250px;
  margin: 30px;
}
.aboutme .aboutme-content p span {
  color: #6befaf;
}

#fanart-container {
  background-color: #ffffff;
  padding-block: 30px;
  padding-inline: 15px;
}
#fanart-container #fanarts {
  font-family: "Caveat", cursive;
  font-size: 3.5rem;
  text-align: center;
}
#fanart-container .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
  padding-top: 20px;
  margin: 0 auto;
  width: 92vw;
  gap: 15px;
  align-items: flex-start;
}
#fanart-container .card-container .card {
  background-color: #25251f;
  color: #ffffff;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
#fanart-container .card-container .card .image-container {
  overflow: hidden;
  display: flex;
  align-items: center;
}
#fanart-container .card-container .card .image-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 500ms ease-in;
  overflow: hidden;
}
#fanart-container .card-container .card .image-container img:hover {
  transform: scale(1.2);
}
#fanart-container .card-container .card p {
  padding-bottom: 15px;
  padding-top: 5px;
}
#fanart-container .fanart-button-section {
  display: flex;
  justify-content: center;
}
#fanart-container .fanart-button-section .fanart-button {
  all: unset;
  background-color: #6befaf;
  width: 115px;
  color: #25251f;
  padding: 15px;
  border-radius: 12px;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
}
#fanart-container .fanart-button-section .fanart-button a {
  color: #25251f;
  transition: color 300ms ease-in;
}
#fanart-container .fanart-button-section .fanart-button:hover a {
  color: #ffffff;
}

#contact-container {
  background-color: #25251f;
  color: #ffffff;
  padding-top: 25px;
  padding-inline: 5vw;
  padding-bottom: 25px;
}
#contact-container #contact {
  padding-bottom: 15px;
  margin-left: 0px;
  text-align: center;
}
#contact-container form {
  width: 337px;
  margin: 0 auto;
}
#contact-container form fieldset {
  border: none;
  width: 320px;
  padding-bottom: 20px;
}
#contact-container form fieldset span {
  color: #6befaf;
}
#contact-container form fieldset label {
  display: flex;
}
#contact-container form fieldset input[type=text],
#contact-container form fieldset input[type=email] {
  border: none;
  width: 337px;
  height: 35px;
  padding: 15px;
}
#contact-container form fieldset .arttrade,
#contact-container form fieldset .commission {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#contact-container form fieldset textarea {
  border: none;
  width: 337px;
  padding: 5px;
}
#contact-container form .submit-button-section {
  display: flex;
  place-content: center;
}
#contact-container form .submit-button-section .submit-button {
  all: unset;
  background-color: #6befaf;
  width: 100px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 12px;
  font-size: 2.3rem;
  font-weight: 700;
  color: #25251f;
  text-align: center;
  transition: color 300ms ease-in;
}
#contact-container form .submit-button-section .submit-button:hover {
  color: #ffffff;
}

.social-media-box {
  padding-top: 10px;
  margin-block: 15px;
  text-align: center;
}
.social-media-box .social-media {
  display: flex;
  place-content: center;
  list-style-type: none;
  gap: 10px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.social-media-box .social-media li img {
  width: 40px;
}

footer {
  background-color: #25251f;
  color: #ffffff;
  padding-block: 30px;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
}
footer p:nth-child(1) {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }
  header h1 {
    font-size: 3rem;
    margin-left: 15px;
  }
  header #menu-button + label .fa-bars {
    margin-right: 30px;
  }
  header #menu-button + label .fa-xmark {
    margin-right: 35px;
  }
  header nav ul {
    margin-top: 15px;
  }
  header nav ul li a {
    font-size: 2.5rem;
  }
  header #header-image-box {
    height: 400px;
  }
  .mobile-box {
    align-items: center;
    gap: 60px;
  }
  .aboutme {
    padding-top: 100px;
    flex-direction: column;
  }
  .aboutme .aboutme-content .mobile-box .commission-button {
    margin-top: 0px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card-container .card {
    width: 330px;
    height: auto;
  }
  #contact-container form {
    width: 670px;
  }
  #contact-container form fieldset input[type=text],
  #contact-container form fieldset input[type=email],
  #contact-container form fieldset textarea {
    width: 670px;
  }
}
@media screen and (min-width: 1024px) {
  header #header-image-box {
    padding-bottom: 500px;
  }
  header h1 {
    margin-left: 25px;
  }
  header #header-box nav {
    position: relative;
  }
  header #header-box nav label,
  header #header-box nav input {
    display: none;
  }
  header #header-box nav ul {
    display: inline;
    position: relative;
    margin-right: 35px;
  }
  header #header-box nav ul li {
    display: inline;
    font-size: 0.5rem;
  }
  .aboutme {
    padding-top: 215px;
    padding-bottom: 60px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .aboutme .aboutme-content {
    align-items: center;
  }
  .aboutme .aboutme-content p {
    width: 300px;
  }
  .card {
    width: 30%;
    height: auto;
  }
  #contact-container form {
    width: 900px;
  }
  #contact-container form fieldset {
    width: 800px;
    margin: 0 auto;
  }
  #contact-container form fieldset input[type=text],
  #contact-container form fieldset input[type=email],
  #contact-container form fieldset textarea {
    width: 800px;
  }
}
body {
  position: relative;
}

main {
  font-size: 2rem;
  display: block;
}/*# sourceMappingURL=main.css.map */